<div class="row">

    <div class="col-sm-12" *ngIf="modo === 'form'">
        <form [formGroup]="clienteForm" class="mt-1">
            <div class="form-row">
                <div class="form-group col-sm-5">
                    <label for="formGroupExampleInput" class="font-weight-bold">Nome</label>
                    <input type="text" formControlName="nome" class="form-control" id="formGroupExampleInput"
                        placeholder="">
                </div>
                <div class="form-group col-sm-2">
                    <label for="formGroupExampleInput2" class="font-weight-bold">Data de Nascimento</label>
                    <input type="date" formControlName="dataNascimento" class="form-control" id="formGroupExampleInput2"
                        placeholder="">
                </div>
                <div class="form-group col-sm-5">
                    <label for="formGroupExampleInput10" class="font-weight-bold">Sexo</label>
                    <div id="formGroupExampleInput10" class="row">
                        <div class="col-sm-2">
                            <label class="radio-inline">
                                <input type="radio" value="f" formControlName="sexo"> Feminino
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="radio-inline">
                                <input type="radio" value="m" formControlName="sexo"> Masculino
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="formGroupExampleInput3" class="font-weight-bold">Cep</label>
                    <input type="text" formControlName="cep" class="form-control" id="formGroupExampleInput3"
                        placeholder="">
                </div>
                <div class="form-group col-sm-6 ">
                    <button class="btn btn-sm btn-outline-info" style="position: relative; top: 35px;"
                        (click)="clkBtnBuscar()">Buscar</button>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-8">
                    <label for="formGroupExampleInput4" class="font-weight-bold">Endereco</label>
                    <input type="text" formControlName="endereco" class="form-control" id="formGroupExampleInput4"
                        placeholder="">
                </div>
                <div class="form-group col-sm-4">
                    <label for="formGroupExampleInput5" class="font-weight-bold">Número</label>
                    <input type="number" formControlName="numero" class="form-control" id="formGroupExampleInput5"
                        placeholder="">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="formGroupExampleInput6" class="font-weight-bold">Complemento</label>
                    <input type="text" formControlName="complemento" class="form-control" id="formGroupExampleInput6"
                        placeholder="">
                </div>
                <div class="form-group col-sm-6">
                    <label for="formGroupExampleInput7" class="font-weight-bold">Bairro</label>
                    <input type="text" formControlName="bairro" class="form-control" id="formGroupExampleInput7"
                        placeholder="">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="formGroupExampleInput8" class="font-weight-bold">Estado</label>
                    <input type="text" formControlName="estado" class="form-control" id="formGroupExampleInput8"
                        placeholder="">
                </div>
                <div class="form-group col-sm-6">
                    <label for="formGroupExampleInput9" class="font-weight-bold">Cidade</label>
                    <input type="text" formControlName="cidade" class="form-control" id="formGroupExampleInput9"
                        placeholder="">
                </div>
            </div>

            <div>
                <hr>
                <button class="btn btn-sm btn-success" style="margin-right: 10px;"
                    [disabled]="!clienteForm.valid" (click)="clienteSubmit()">Salvar</button>
                <button class="btn btn-sm btn-outline-danger" (click)="voltar()">Fechar</button>
            </div>
        </form>
    </div>
    <div class="col-sm-12" *ngIf="modo === 'grid'">
        <div class="container">
            <div class="row">
                <button class="btn btn-success" style="margin-top: 15px; margin-bottom: 15px;" (click)="novoCliente()">
                    Novo
                </button>
            </div>
        </div>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <th scope="row">{{cliente.clienteId}}</th>
                    <td>{{cliente.nome}}</td>
                    <td>{{getDataFormatada(cliente.dataNascimento)}}</td>
                    <td>{{cliente.cidade}}</td>
                    <td>
                        <div class="btn-group">
                            <button (click)="clienteSelect(cliente)" class="btn btn-sm btn-outline-primary"
                                style="margin-right: 10px;">Editar</button>
                            <button (click)="excluirCliente(cliente)" class="btn btn-sm btn-outline-danger">Excluir</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>